body {
    margin: 0px;
    font-family: Kanit, sans-serif;
    background-color: #2e2e2e;
}
.hero {
    margin-bottom: 400px;
}

/*
    HEADER SECTION
*/
.header-section {
    padding: 10px;
    background-color: #b51bf1;
    color: white;
}
.header-section h1:hover {
    color: #fdad00;
}
.header-section a {
    text-decoration: none;
    color: white;
}
/*
    MAIN SECTION
*/
.subscription-text {
    text-align: center;
}
.subscription-text h1 {
    color: #fdad00;
    margin-left: 20px;
    font-size: 50px;
}
.main-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}
.main-section > * {
    background-color: white;
    flex-basis: 500px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #ffbb00;
}
.main-section h1 {
    font-weight: 800;
    font-size: 50px;
}
.main-section p {
    font-weight: bold;
    font-size: 20px;
}
.main-section button {
    background-color: black;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    transition: 0.15s;
}
.basic-promo button{
    margin-top: 50px;
}

.main-section button:hover {
    background-color: white;
    color: black;
}
.main-section button:active {
    background-color: #b8b8b8;
    transition: 0.15s;
}


/*
    FOOTER SECTION
*/
.footer-section {
    background-color: #b51bf1;
    color: white;
    padding: 20px;
    text-align: center;
}
.footer-section ul {
    list-style: none;
}
.footer-section li {
    margin: 20px;
    font-size: 19px;
}
.footer-section a {
    text-decoration: none;
    color: white;
    transition: 0.15s;
}
.footer-section a:hover {
    color: #ff9901;
    transition: 0.15s;
}
.footer-section a:active {
    transition: 0.15s;
    color: white;
}
#copy{
    font-size: smaller;
}


/*
    MQ FOR RESPONSIVE DESIGN
*/

@media (max-width: 1250px) {
    .header-section {
        text-align: center;
    }
    .subscription-text {
        text-align: center;
    }
    .main-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 50px;
        padding: 50px;
    }
    .basic-promo button {
        margin-top: 0px;
    }
}

