body {
    margin: 0px;
    font-family: Kanit, sans-serif;
}

.hero {
    margin-bottom: 390px;
}
/*
    HEADER SECTION
*/
.header-section {
    padding: 10px;
    background-color: #b51bf1;
    color: white;
}
.header-section h1:hover {
    color: #fdad00;
}

/*
    NAVIGATION BAR SECTION
*/
.nav-section {
    display: flex;
    gap: 20px;
    border-bottom: 3px solid #b51bf1;
}
.sign-in,
.sign-up {
    font-weight: bold;
    font-size: 18px;
    color: #b51bf1;
}
#cart {
    margin: 10px;
    transition: 0.15s;
}
#cart:hover {
    opacity: 0.6;
}
#cart:active {
    opacity: 0.5;
    transition: 0.15s; 
}

.sign-in a {
    text-decoration: none;
    color: #b51bf1;
    transition: 0.15s;
}
.sign-in a:hover {
    color: #ff9100;
}
.sign-in a:active {
    opacity: 0.6;
    transition: 0.15s;
}

/*
    Title
*/
.title {
    font-size: 35px;
    padding: 20px;
}
.title h1{
    color: #ff9100;
}
.creative {
    color: #b51bf1;
}

/*
    Main Section
*/
.main-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
}
/*
    LOGIN SECTION
*/
.login-section {
    background-color: #b51bf1;
    padding: 100px;
    border-radius: 30px;
    text-align: center;
}
.signin {
    color: white;
}
#email {
    background-color: #e0e0e0;
    color: black;
    font-weight: bold;
    padding: 25px;
    border-radius: 40px;
}
#password {
    background-color: #e0e0e0;
    color: black;
    font-weight: bold;
    padding: 25px;
    border-radius: 40px;
}
#login {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 25px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 140px;
    transition: 0.15s;
}
#login:hover {
    background-color: white;
    color: black;
    border: none;
}
#login:active {
    opacity: 0.6;
    transition: 0.15s;
}
.or {
    font-weight: 900;
    font-size: 19px;
}
#fb-icon,
#g-icon,
#discord-icon {
    margin: 10px;
    transition: 0.15s;
}

#fb-icon:hover {
    opacity: 0.6;
}
#g-icon:hover {
    opacity: 0.6;
}
#discord-icon:hover {
    opacity: 0.6;
}


/*
    FOOTER SECTION
*/
.footer-section {
    background-color: #b51bf1;
    color: white;
    padding: 20px;
    text-align: center;
}
.footer-section ul {
    list-style: none;
}
.footer-section li {
    margin: 20px;
    font-size: 19px;
}
.footer-section a {
    text-decoration: none;
    color: white;
    transition: 0.15s;
}
.footer-section a:hover {
    color: #ff9901;
    transition: 0.15s;
}
.footer-section a:active {
    transition: 0.15s;
    color: white;
}
#copy{
    font-size: smaller;
}
/*
    MQ FOR RESPONSIVE DESIGN 
*/

@media (max-width: 1250px) {
    
.header-section {
    text-align: center;
}
.nav-section {
    text-align: center;
}
.title {
    text-align: center;
}

    /*
        MAIN
    */

.main-section {
    text-align: center;
}

    /*
        FOOTER
    */
.footer-section {
    text-align: center;
}
}

@media (max-width: 1500px) {
    .main-section {
        display: flex;
        flex-wrap: nowrap;
    }
    .title {
        font-size: 50px;
    }
}

@media (max-width: 1650px) {
    .main-section {
        display: flex;
        flex-wrap: nowrap;
    }
    .title {
        font-size: 50px;
    }
}
@media (max-width: 900px) {
    .main-section {
        display: flex;
        flex-wrap: wrap;
    }
    .title {
        font-size: 30px;
    }
    .login-section {
        width: 100%;
    }
}

@media (max-width: 400px){
    .main-section {
        margin: 0px;
        padding: 0px;
    }
    .login-section{
        padding: 10px;
        height: 500px;
    }
    .footer-section {
        text-align: center;
    }

    /*
        NAV SECTION
    */
}